.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 1rem;
    text-align: center;
    margin: 250px auto 160px;
    color: var(--button);
}

.about section p {
    color: var(--border);
    margin: 5px auto;
}

.about section .number {
    display: inline-block;
    margin: 0 7px;
    font-size: 1.5rem;
    color: var(--button);
}

@media (min-width: 223px) and (max-width: 768px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
}