.start {
    width: 80%;
    margin: 1rem auto;
}

.start .header h2 {
    color: var(--button);
}

.start .header h2 span {
    margin: 0 5px;
}

.start form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    background-color: var(--dark-blue);
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    padding: 20px 15px;
}

.start form section header {
    color: var(--border);
    margin: 5px 0;
}

.start form section input {
    width: 200px;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
}

.start form .sec-btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 0 0 0;
}

.start form .btn {
    background-color: var(--button);
    width: 120px;
    padding: 12px 7px;
    border: none;
    border-radius: 5px;
    color: var(--dark-blue);
    font-weight: 700;
    cursor: pointer;
}

.start form .btn:hover {
    background-color: var(--hover);
}

.start .trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    text-align: center;
}

.start .trips .trip {
    border: 1px solid var(--border);
    border-radius: 5px;
}

.start .trips .trip header {
    margin: 10px 0;
    padding: 10px;
}

.start .trips .trip .img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.start .trips .trip div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.start .trips .trip div .btn {
    background-color: var(--button);
    width: 70px;
    padding: 7px;
    border: none;
    border-radius: 2.5px;
    color: var(--dark-blue);
    cursor: pointer;
}

.start .trips .trip div .btn:hover {
    background-color: var(--hover);
}

.start .trips .trip div p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.start .view-more {
    text-align: center;
    padding: 20px;
}

.start .view-more .btn-more {
    margin: 25px auto;
    width: 150px;
    padding: 7px;
    background-color: transparent;
    border: 1px solid var(--button);
    color: var(--button);
    border-radius: 5px;
    cursor: pointer;
}

.start .view-more .btn-more:hover {
    color: var(--hover);
    border-color: var(--hover)
}

@media (min-width: 223px) and (max-width: 768px) {
    .start {
        width: 100%;
        padding: 1rem;
    }
    .start .header h2 {
        font-size: 1.3rem;
    }
    .start form {
        grid-template-columns: repeat(1, 1fr);
    }
    .start .trips {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .start form {
        grid-template-columns: repeat(1, 1fr);
    }

    .start .trips .trip div {
        padding: 5px;
    }
}